.image-side img{
  width: 100%;
}
.footer-body{
  height: 80px;
  padding: 10px ;
  color: white;
  /* background: #132a13; */
  background:rgb(218, 215, 215) ;
}

.footer-logo-design  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-design span i {
  width: 50px;
  height: 50px;
  background-color: darkcyan;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: all 0.3s ease;
  color: white;
}

.footer-logo-design span i:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-logo-design span a{
  text-decoration: none;
}


/* login */
.main-containers{
  height: 100vh;
}